<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <h1>リストと区切り</h1>
    <ol>
        <li>チェリー</li>
        <li>チェリー２</li>
        <li>チェリー３</li>
    </ol>
    <hr>
    <ul>
        <li>バナナ</li>
        <li>バナナ２</li>
        <li>バナナ３</li>
    </ul>
</body>
</html>