<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <link rel="stylesheet" href="../static/css/ex10.css">
    <script src='main.js'></script>
</head>
<body>
    <div id="dep">営業部</div>
    <span class="name">山田太郎</span><br>
    <span class="name">小林たかし</span><br>
    <span class="name">井上陽水</span>
</body>
</html>