<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <link rel="stylesheet" href="../static/css/ex11.css">
    <script src='main.js'></script>
</head>
<body>
    <nav id="menu">
        <ul>
            <li class="odd">１行目</li>
            <li class="even">2行目</li>
            <li class="odd">3行目</li>
        </ul>
    </nav>
</body>
</html>